@font-face {
    font-family: fontlogo;
    src: url(font/logo.ttf.ttf);
}

@font-face {
    font-family: fontsub;
    src: url(font/sub.otf.otf);
}

*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-color: #ffff;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
    justify-content: center;
}

.top{
    background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
    padding-bottom: -50px;
    padding-top: 20px;
    margin: auto;
}



.wave {
    margin-bottom: -20px;
    margin-top: -80px;
}

.imgtop {
    width: 1000px;
    position: relative;
    margin-bottom: -230px;
    margin-top: 150px;
    display: block;
    z-index: -1;
}

.header {
    margin: 200px 0px 0px 190px;
    justify-content: center;
    position: relative;
    width: 600px;
    color: #ffffff;
    font-weight: 900pt;
}

.header p {
    text-align: auto;
}

.header h2{
    text-align: auto;
    color: #ffffff;
    font-family: fontsub;
    font-size: 40pt;
}

p.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    margin-bottom: 20px;
}

#home { 
    margin-bottom: 100px;
    width: 1100px;
    
}

#content {
    margin-bottom: 100px;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    float: left;
    font-family: fontlogo;
    color: #a5a7de;
}

.spesifikasi h3 {
    text-align: center;
    margin-left: auto;
    position: relative;
    font-weight: bold;
    font-size: 15pt;
}

table{
    border-collapse: collapse;
    color: #444;
    justify-content: center;
    position: relative;
}

table th,
table td{
    border: 1px solid #edebeb;
    padding: 7px 17px;
    text-align: center;
    font-family: consolas;
    justify-content: center;
    position: relative;
}
.menu {
    float: right;
}

nav {
   width: 100%;
   margin: auto;
   display: flex;
   line-height: 80px;
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   background: #ffffff; 
   z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 

nav ul li {
    float: left;
}

nav ul li a {
    color: #a5a7de;
    font-weight: bold;
    width: 300px;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.img1 {
    margin-right: 50px;
    justify-content: center;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.kolom2 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30px;
}

.kolom2 p.deskripsi {
    color: #415190;
}

.kolom2 h2 {
    color: #415190;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #415190;
}

h2 {
    font-family: fontsub;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    color: #415190;
    width: 100%;
    line-height: 50px;
}

h4 {
    justify-content: center;
    font-family: fontsub;
    font-weight: 600;
    font-size: 20px;
    color: #415190;
    width: 100%;
    line-height: 50px;
}

a.tbl-sosmed {
    background: #bbc8ff;
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}

a.tbl-sosmed:hover {
    background: #415190;
    text-decoration: none;
}

a.tbl-cyan {
    background: #bbc8ff;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-cyan:hover {
    background: #415190;
    text-decoration: none;
}

a.tbl-pink {
    background: #ffbbbb;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 7px;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #e24444;
    text-decoration: none;
}


p {
    margin: 5px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-family: sans-serif;
}

.tengah {
    text-align: center;
    width: 50%;

}

.social-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
    
}

.kartu-social {
    width: 25%;
}

.kartu-social img {
    width: 50px;
    justify-content: center;
    margin: auto;
    cursor: pointer;
}       

#about {
    background: #a5a7de;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 100px;
}

.footer-section {
    width: 15%;
    justify-content: center;
    margin-left: 100px;
}

.footer-section p {
    font-size: 12px;
    color: #FFF;
}

h3 {
    font-family: fontsub;
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 20px;
    color: #415190;
    width: 100%;
    line-height: 50 px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 920px){

    .wrapper {
       width: 90%; 
       margin: 0 auto;
    }

    #content {
        display: flex;
    }

    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav {
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        z-index: 1;
    }

    nav .menu {
        width: 100%;

    }
    
    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .top {
        margin-top: -90px;
    }

    .header {
        margin-left: 30%;
    }

    .img1 {
        width: 100%;
    }

    .top .imgtop {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 200px;
        margin-left: 180%;
        transform: translateX(-40%);
        z-index: -1;
    }

    .top .header {
        width: 60%;
        right: 15%;
    }

    .top .header h2 {
        font-size: 30pt;
    }
     
    .tengah{
        width: 100%;
    }
    .kartu-sosmed img{
        width: -10%;
        display: flex;
        justify-content: space-between;
    }

    .footer {
        margin-left: -20px;
        width: 100%;
    }

    .footer-section {
        margin: 0 auto;
        width: 40%;
    }

    table {
        justify-content: center;
        position: relative;
    }

    html{
        margin: 0 auto;
        display: flex;
        display: ;
    }

}
