*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
    justify-content: center;
    
}

#home { 
    margin-bottom: 100px;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    float: left;
    font-family: DotLirium;
    color: #618264;
}

.spesifikasi h3 {
    text-align: center;
    margin-left: auto;
    position: relative;
    font-weight: bold;
    font-size: 15pt;
}

table{
    border-collapse: collapse;
    color: #444;
    justify-content: center;
    position: relative;
}

table th,
table td{
    border: 1px solid #edebeb;
    padding: 7px 17px;
    text-align: center;
    font-family: consolas;
    justify-content: center;
    position: relative;
}
.menu {
    float: right;
}

nav {
   width: 100%;
   margin: auto;
   display: flex;
   line-height: 80px;
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   background: #ffffff; 
   z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 

nav ul li {
    float: left;
}

nav ul li a {
    color: #000000;
    font-weight: bold;
    width: 300px;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-family: consolas;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.img1 {
    margin-right: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #618264;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    color: #618264;
    width: 100%;
    line-height: 50px;
}

h4 {
    justify-content: center;
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 20px;
    color: #618264;
    width: 100%;
    line-height: 50px;
}

a.tbl-sosmed {
    background: #618264;
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-sosmed:hover {
    background: #D0E7D2;
    text-decoration: none;
}

a.tbl-cyan {
    background: #D0E7D2;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-cyan:hover {
    background: #618264;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-family: consolas;
}

.tengah {
    text-align: center;
    width: 100%;

}


.kartu-social p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 10px;
    text-align: center;
    color: #618264;
}

.social-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kartu-social {
    width: 20%;
}

.kartu-social img {
    width: 70px;
    justify-content: center;
    margin: auto;
}       

#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin:  0 auto;
}

.footer-section p {
    font-size: 12px;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 20px;
    color: #618264;
    width: 100%;
    line-height: 50 px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}


@media screen and (max-width: 991.98px){

    .wrapper {
       width: 90%; 
    }

    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }
    
    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-sosmed img{
        width: 50%;
        display: flex;
    }

    .kolom {
        text-align: center;
    }

    table {
        justify-content: center;
        position: relative;
    }

}
